.first {
    background-color:peachpuff;
    height:300px;
    width:300px; 
   
}

.second {
background-color:purple;
height:300px;
width:300px;
left:308px;
}

.third {
    background-color:salmon;
    height:300px;
    width:300px; 


}

.fourth {
    background-color:lemonchiffon;
    height:300px;
    width:300px;
    left:300px;
    top:308px;
    position:absolute;
    

}

.fifth {
    background-color:lavender;
    height: 300px;
    width:300px;
    left:300px;
    top:608px;
    position:absolute;
    
    

}

.sixth {
    background-color:brown;
    height: 300px;
    width: 300px;
    position:absolute;
    top:308px;
    left:600px;
    

}

.seventh {
    background-color:lightsalmon;
    height:300px;
    width:300px;
    position:absolute;
    top:8px;
    left:600px;


}

.eighth {
    background-color: paleturquoise;
    height:300px;
    width:300px;
    position:absolute;
    top:8px;
    left:300px;
}

.ninth {
    background-color:gray;
    height: 300px;
    width:300px;
    left:600px;
    top:608px;
    position:absolute;
}